<link href="{{ root_url }}/apple-touch-icon.png" rel="apple-touch-icon" />
<!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
<!-- Google Webmasters tool -->
<meta name="google-site-verification" content="aQXE9vCD3QjNp7xGnUKCTLwPJBJ1cdr6bPVO2pOro6I" />
<meta name="google-site-verification" content="aN8hIjVAB2gp1sImatDmi7gZkHBTSUAH9Hd6whpackk" />
<meta name="google-site-verification" content="Fdgqd5dr_QcBpDw7KhTvPaqhwnVfSyGiQcSB4uYyod8" />
